body {
	color: #ffffff;
	font-family: 'Playfair display', serif;
	font-size: 50px;
	text-align: center;

}
body.home {
	background-image: url('../Images/A5.jpg');
	padding-top: 100px;
}
body.about {
	background-image: url('../Images/A11.jpg');
}
a.about {
	color: #ffffff;
}
h4 {
    text-shadow: 2px 2px #ff0000;
    font-style: italic;
}
.my-button {
	padding: 10px 12px;
	border: 1px solid white;
	color: white;
	background-color: black;
	text-decoration: none;
	display: inline-block;
	border-radius: 5px;
}
.my-button:hover{
	margin: 2px 00 2px;
}
body.contact {
	background-image: url('../Images/A13.jpg');
	background-size: 1200px;
}
body.adornments {
	color: #000;
}
body.adornments {
	background-image: url('../Images/A14.jpg');
}
h1 {
	text-shadow: 5px 5px 6px #ff0000;
}
body.adornments h2 {
	font-size: 40px;
	color: #FF0000;
	text-shadow: 2px 2px #000000;
	font-style: oblique; 
}
body.adornments h3 {
	font-size: 30px;
	font-style: italic; 
}
body.adornments img {
	display: none;
}
nav ul {
	list-style-type: none;

}
nav ul li {
	display: inline-block;
	padding: 0 10px;

}
nav ul li a {
	color: #fff;

}
nav ul li a:hover {
	color: #000000;
}
address {
	color: #000000;
}
nav div {
	list-style-type: none;
	display: inline-block;
	padding: 0 10px;
	color: #fff;
}

